@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap');

body {
    background-image: url(../images/sommaire/background_index1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;

    margin: 0;
    padding: 0;
    font-family: arial;
    font-size: 19px;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 10fr;
    grid-template-areas: 
              "nav article"
              "nav article"
    ;
}

nav {
    border-radius: 15px;
    background-color: #f3e5ce;
    position: fixed;
    font-size: 90%;
    grid-area: nav;
}

nav:hover {
    font-size: 95%;
}

article {
    grid-area: article;
}

section {
        background-size: 63%;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        height: 100vh;
}
    


/*prague*/

#s1 {
        background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/1.jpg);
    }
    
#s2 {
        background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/2.jpg);
    }
    
#s3 {
        background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/3.jpg);
    }

#s4 {
        background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/4.jpg);
    }

#s5 {
        background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/5.jpg);
    }

#s6 {
        background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/6.jpg);
    }

#s7 {
        background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/7.jpg);
    }

#s8 {
        background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/8.jpg);
    }

#s9 {
        background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/9.jpg);
    }

#s10 {
        background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/10.jpg);
    }
    
#s11 {
        background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/11.jpg);
    }
    
#s12 {
        background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/12.jpg);
    }

#s13 {
        background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/13.jpg);
    }

#s14 {
        background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/14.jpg);
    }

#s15 {
        background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/15.jpg);
    }

#s16 {
        background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/16.jpg);
    }

#s17 {
        background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/17.jpg);
    }

#s18 {
        background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/18.jpg);
    }

#s19 {
        background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/19.jpg);
    }

#s20 {
        background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/20.jpg);
    }

/*prague*/

/*brno*/

#t1 {
    background-image: url(../paralaxe/Photo_paralaxe/brno_paralaxe/1.jpg);
}

#t2 {
    background-image: url(../paralaxe/Photo_paralaxe/brno_paralaxe/2.jpg);
}

#t3 {
    background-image: url(../paralaxe/Photo_paralaxe/brno_paralaxe/3.jpg);
}

#t4 {
    background-image: url(../paralaxe/Photo_paralaxe/brno_paralaxe/4.jpg);
}

#t5 {
    background-image: url(../paralaxe/Photo_paralaxe/brno_paralaxe/5.jpg);
}

#t6 {
    background-image: url(../paralaxe/Photo_paralaxe/brno_paralaxe/6.jpg);
}

#t7 {
    background-image: url(../paralaxe/Photo_paralaxe/brno_paralaxe/7.jpg);
}

#t8 {
    background-image: url(../paralaxe/Photo_paralaxe/brno_paralaxe/8.jpg);
}

#t9 {
    background-image: url(../paralaxe/Photo_paralaxe/brno_paralaxe/9.jpg);
}

#t10 {
    background-image: url(../paralaxe/Photo_paralaxe/brno_paralaxe/10.jpg);
}

#t11 {
    background-image: url(../paralaxe/Photo_paralaxe/brno_paralaxe/11.jpg);
}

#t12 {
    background-image: url(../paralaxe/Photo_paralaxe/brno_paralaxe/12.jpg);
}

#t13 {
    background-image: url(../paralaxe/Photo_paralaxe/brno_paralaxe/13.jpg);
}

/*brno*/

/*Hulvea*/

#p1 {
    background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/1.jpg);
}

#p2 {
    background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/2.jpg);
}

#p3 {
    background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/3.jpg);
}

#p4 {
    background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/4.jpg);
}

#p5 {
    background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/5.jpg);
}

#p6 {
    background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/6.jpg);
}

#p7 {
    background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/7.jpg);
}

#p8 {
    background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/8.jpg);
}

#p9 {
    background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/9.jpg);
}

#p10 {
    background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/10.jpg);
}

#p11 {
    background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/11.jpg);
}

#p12 {
    background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/12.jpg);
}

#p13 {
    background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/13.jpg);
}

#p14 {
    background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/14.jpg);
}

#p15 {
    background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/15.jpg);
}

#p16 {
    background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/16.jpg);
}

#p17 {
    background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/17.jpg);
}

#p18 {
    background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/18.jpg);
}

#p19 {
    background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/19.jpg);
}

/*Hulvea*/

/*Prague*/

#s1 {
    background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/1.jpg);
}

#s2 {
    background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/2.jpg);
}

#s3 {
    background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/3.jpg);
}

#s4 {
    background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/4.jpg);
}

#s5 {
    background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/5.jpg);
}

#s6 {
    background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/6.jpg);
}

#s7 {
    background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/7.jpg);
}

#s8 {
    background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/8.jpg);
}

#s9 {
    background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/9.jpg);
}

#s10 {
    background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/10.jpg);
}

#s11 {
    background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/11.jpg);
}

#s12 {
    background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/12.jpg);
}

#s13 {
    background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/13.jpg);
}

#s14 {
    background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/14.jpg);
}

#s15 {
    background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/15.jpg);
}

#s16 {
    background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/16.jpg);
}

#s17 {
    background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/17.jpg);
}

#s18 {
    background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/18.jpg);
}

#s19 {
    background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/19.jpg);
}

#s20 {
    background-image: url(../paralaxe/Photo_paralaxe/prague_paralaxe/20.jpg);
}

/*prague*/

/*brno*/

#t1 {
background-image: url(../paralaxe/Photo_paralaxe/brno_paralaxe/1.jpg);
}

#t2 {
background-image: url(../paralaxe/Photo_paralaxe/brno_paralaxe/2.jpg);
}

#t3 {
background-image: url(../paralaxe/Photo_paralaxe/brno_paralaxe/3.jpg);
}

#t4 {
background-image: url(../paralaxe/Photo_paralaxe/brno_paralaxe/4.jpg);
}

#t5 {
background-image: url(../paralaxe/Photo_paralaxe/brno_paralaxe/5.jpg);
}

#t6 {
background-image: url(../paralaxe/Photo_paralaxe/brno_paralaxe/6.jpg);
}

#t7 {
background-image: url(../paralaxe/Photo_paralaxe/brno_paralaxe/7.jpg);
}

#t8 {
background-image: url(../paralaxe/Photo_paralaxe/brno_paralaxe/8.jpg);
}

#t9 {
background-image: url(../paralaxe/Photo_paralaxe/brno_paralaxe/9.jpg);
}

#t10 {
background-image: url(../paralaxe/Photo_paralaxe/brno_paralaxe/10.jpg);
}

#t11 {
background-image: url(../paralaxe/Photo_paralaxe/brno_paralaxe/11.jpg);
}

#t12 {
background-image: url(../paralaxe/Photo_paralaxe/brno_paralaxe/12.jpg);
}

#t13 {
background-image: url(../paralaxe/Photo_paralaxe/brno_paralaxe/13.jpg);
}

/*brno*/

/*Hulvea*/

#p1 {
background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/1.jpg);
}

#p2 {
background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/2.jpg);
}

#p3 {
background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/3.jpg);
}

#p4 {
background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/4.jpg);
}

#p5 {
background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/5.jpg);
}

#p6 {
background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/6.jpg);
}

#p7 {
background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/7.jpg);
}

#p8 {
background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/8.jpg);
}

#p9 {
background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/9.jpg);
}

#p10 {
background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/10.jpg);
}

#p11 {
background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/11.jpg);
}

#p12 {
background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/12.jpg);
}

#p13 {
background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/13.jpg);
}

#p14 {
background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/14.jpg);
}

#p15 {
background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/15.jpg);
}

#p16 {
background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/16.jpg);
}

#p17 {
    background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/17.jpg);
}
    
#p18 {
    background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/18.jpg);
}
    
#p19 {
    background-image: url(../paralaxe/Photo_paralaxe/hulvea_paralaxe/19.jpg);
}

/*Hulvea*/

/*Bruxelles*/

#m1 {
    background-image: url(../paralaxe/Photo_paralaxe/bruxelles_paralaxe/1.jpg);
    }
    
    #m2 {
    background-image: url(../paralaxe/Photo_paralaxe/bruxelles_paralaxe/2.jpg);
    }
    
    #m3 {
    background-image: url(../paralaxe/Photo_paralaxe/bruxelles_paralaxe/3.jpg);
    }
    
    #m4 {
    background-image: url(../paralaxe/Photo_paralaxe/bruxelles_paralaxe/4.jpg);
    }
    
    #m5 {
    background-image: url(../paralaxe/Photo_paralaxe/bruxelles_paralaxe/5.jpg);
    }
    
    #m6 {
    background-image: url(../paralaxe/Photo_paralaxe/bruxelles_paralaxe/6.jpg);
    }
    
    #m7 {
    background-image: url(../paralaxe/Photo_paralaxe/bruxelles_paralaxe/7.jpg);
    }
    
    #m8 {
    background-image: url(../paralaxe/Photo_paralaxe/bruxelles_paralaxe/8.jpg);
    }
    
    #m9 {
    background-image: url(../paralaxe/Photo_paralaxe/bruxelles_paralaxe/9.jpg);
    }
    
    #m10 {
    background-image: url(../paralaxe/Photo_paralaxe/bruxelles_paralaxe/10.jpg);
    }
    
    #m11 {
    background-image: url(../paralaxe/Photo_paralaxe/bruxelles_paralaxe/11.jpg);
    }
    
    #m12 {
    background-image: url(../paralaxe/Photo_paralaxe/bruxelles_paralaxe/12.jpg);
    }
    
    #m13 {
    background-image: url(../paralaxe/Photo_paralaxe/bruxelles_paralaxe/13.jpg);
    }
    
    #m14 {
    background-image: url(../paralaxe/Photo_paralaxe/bruxelles_paralaxe/14.jpg);
    }
    
    #m15 {
    background-image: url(../paralaxe/Photo_paralaxe/bruxelles_paralaxe/15.jpg);
    }
    
    #m16 {
    background-image: url(../paralaxe/Photo_paralaxe/bruxelles_paralaxe/16.jpg);
    }

    /*Bruxelles*/

    /*Timisoara*/

    #o1 {
        background-image: url(../paralaxe/Photo_paralaxe/timisoara_paralaxe/1.jpg);
    }
    
    #o2 {
        background-image: url(../paralaxe/Photo_paralaxe/timisoara_paralaxe/2.jpg);
    }
    
    #o3 {
        background-image: url(../paralaxe/Photo_paralaxe/timisoara_paralaxe/3.jpg);
    }
    
    #o4 {
        background-image: url(../paralaxe/Photo_paralaxe/timisoara_paralaxe/4.jpg);
    }
    
    #o5 {
        background-image: url(../paralaxe/Photo_paralaxe/timisoara_paralaxe/5.jpg);
    }
    
    #o6 {
        background-image: url(../paralaxe/Photo_paralaxe/timisoara_paralaxe/6.jpg);
    }
    
    #o7 {
        background-image: url(../paralaxe/Photo_paralaxe/timisoara_paralaxe/7.jpg);
    }
    
    #o8 {
        background-image: url(../paralaxe/Photo_paralaxe/timisoara_paralaxe/8.jpg);
    }
    
    #o9 {
        background-image: url(../paralaxe/Photo_paralaxe/timisoara_paralaxe/9.jpg);
    }
    
    #o10 {
        background-image: url(../paralaxe/Photo_paralaxe/timisoara_paralaxe/10.jpg);
    }
    
    #o11 {
        background-image: url(../paralaxe/Photo_paralaxe/timisoara_paralaxe/11.jpg);
    }
    
    #o12 {
        background-image: url(../paralaxe/Photo_paralaxe/timisoara_paralaxe/12.jpg);
    }
    
    #o13 {
        background-image: url(../paralaxe/Photo_paralaxe/timisoara_paralaxe/13.jpg);
    }
    
    #o14 {
        background-image: url(../paralaxe/Photo_paralaxe/timisoara_paralaxe/14.jpg);
    }
    
    #o15 {
        background-image: url(../paralaxe/Photo_paralaxe/timisoara_paralaxe/15.jpg);
    }
    
    #o16 {
        background-image: url(../paralaxe/Photo_paralaxe/timisoara_paralaxe/16.jpg);
    }
    
    #o17 {
        background-image: url(../paralaxe/Photo_paralaxe/timisoara_paralaxe/17.jpg);
    }
    
    #o18 {
        background-image: url(../paralaxe/Photo_paralaxe/timisoara_paralaxe/18.jpg);
    }
    
    #o19 {
        background-image: url(../paralaxe/Photo_paralaxe/timisoara_paralaxe/19.jpg);
    }
    
    #o20 {
        background-image: url(../paralaxe/Photo_paralaxe/timisoara_paralaxe/20.jpg);
    }

    #o21 {
        background-image: url(../paralaxe/Photo_paralaxe/timisoara_paralaxe/21.jpg);
    }

    /*Timisoara*/

    /*Sofia*/

    #i1 {
        background-image: url(../paralaxe/Photo_paralaxe/sofia_paralaxe/1.jpg);
    }
    
    #i2 {
        background-image: url(../paralaxe/Photo_paralaxe/sofia_paralaxe/2.jpg);
    }
    
    #i3 {
        background-image: url(../paralaxe/Photo_paralaxe/sofia_paralaxe/3.jpg);
    }
    
    #i4 {
        background-image: url(../paralaxe/Photo_paralaxe/sofia_paralaxe/4.jpg);
    }
    
    #i5 {
        background-image: url(../paralaxe/Photo_paralaxe/sofia_paralaxe/5.jpg);
    }
    
    #i6 {
        background-image: url(../paralaxe/Photo_paralaxe/sofia_paralaxe/6.jpg);
    }
    
    #i7 {
        background-image: url(../paralaxe/Photo_paralaxe/sofia_paralaxe/7.jpg);
    }
    
    #i8 {
        background-image: url(../paralaxe/Photo_paralaxe/sofia_paralaxe/8.jpg);
    }
    
    #i9 {
        background-image: url(../paralaxe/Photo_paralaxe/sofia_paralaxe/9.jpg);
    }
    
    #i10 {
        background-image: url(../paralaxe/Photo_paralaxe/sofia_paralaxe/10.jpg);
    }
    
    #i11 {
        background-image: url(../paralaxe/Photo_paralaxe/sofia_paralaxe/11.jpg);
    }
    
    #i12 {
        background-image: url(../paralaxe/Photo_paralaxe/sofia_paralaxe/12.jpg);
    }
    
    #i13 {
        background-image: url(../paralaxe/Photo_paralaxe/sofia_paralaxe/13.jpg);
    }
    
    #i14 {
        background-image: url(../paralaxe/Photo_paralaxe/sofia_paralaxe/14.jpg);
    }
    
    #i15 {
        background-image: url(../paralaxe/Photo_paralaxe/sofia_paralaxe/15.jpg);
    }
    
    #i16 {
        background-image: url(../paralaxe/Photo_paralaxe/sofia_paralaxe/16.jpg);
    }
    
    #i17 {
        background-image: url(../paralaxe/Photo_paralaxe/sofia_paralaxe/17.jpg);
    }
    
    #i18 {
        background-image: url(../paralaxe/Photo_paralaxe/sofia_paralaxe/18.jpg);
    }
    
    #i19 {
        background-image: url(../paralaxe/Photo_paralaxe/sofia_paralaxe/19.jpg);
    }
    
    #i20 {
        background-image: url(../paralaxe/Photo_paralaxe/sofia_paralaxe/20.jpg);
    }

    #i21 {
        background-image: url(../paralaxe/Photo_paralaxe/sofia_paralaxe/21.jpg);
    }

    #i22 {
        background-image: url(../paralaxe/Photo_paralaxe/sofia_paralaxe/22.jpg);
    }
    
    #i23 {
        background-image: url(../paralaxe/Photo_paralaxe/sofia_paralaxe/23.jpg);
    }
    
    #i24 {
        background-image: url(../paralaxe/Photo_paralaxe/sofia_paralaxe/24.jpg);
    }
    
    #i25 {
        background-image: url(../paralaxe/Photo_paralaxe/sofia_paralaxe/25.jpg);
    }
    
    #i26 {
        background-image: url(../paralaxe/Photo_paralaxe/sofia_paralaxe/26.jpg);
    }
    
    #i27 {
        background-image: url(../paralaxe/Photo_paralaxe/sofia_paralaxe/27.jpg);
    }
    
    #i28 {
        background-image: url(../paralaxe/Photo_paralaxe/sofia_paralaxe/28.jpg);
    }

    #i29 {
        background-image: url(../paralaxe/Photo_paralaxe/sofia_paralaxe/29.jpg);
    }

    /*Sofia*/

    /*faro*/

    #k1 {
        background-image: url(../paralaxe/Photo_paralaxe/Faro_paralaxe/1.jpg);
    }
    
    #k2 {
        background-image: url(../paralaxe/Photo_paralaxe/Faro_paralaxe/2.jpg);
    }
    
    #k3 {
        background-image: url(../paralaxe/Photo_paralaxe/Faro_paralaxe/3.jpg);
    }
    
    #k4 {
        background-image: url(../paralaxe/Photo_paralaxe/Faro_paralaxe/4.jpg);
    }
    
    #k5 {
        background-image: url(../paralaxe/Photo_paralaxe/Faro_paralaxe/5.jpg);
    }
    
    #k6 {
        background-image: url(../paralaxe/Photo_paralaxe/Faro_paralaxe/6.jpg);
    }
    
    #k7 {
        background-image: url(../paralaxe/Photo_paralaxe/Faro_paralaxe/7.jpg);
    }
    
    #k8 {
        background-image: url(../paralaxe/Photo_paralaxe/Faro_paralaxe/8.jpg);
    }
    
    #k9 {
        background-image: url(../paralaxe/Photo_paralaxe/Faro_paralaxe/9.jpg);
    }
    
    #k10 {
        background-image: url(../paralaxe/Photo_paralaxe/Faro_paralaxe/10.jpg);
    }
    
    #k11 {
        background-image: url(../paralaxe/Photo_paralaxe/Faro_paralaxe/11.jpg);
    }
    
    #k12 {
        background-image: url(../paralaxe/Photo_paralaxe/Faro_paralaxe/12.jpg);
    }
    
    #k13 {
        background-image: url(../paralaxe/Photo_paralaxe/Faro_paralaxe/13.jpg);
    }
    
    #k14 {
        background-image: url(../paralaxe/Photo_paralaxe/Faro_paralaxe/14.jpg);
    }
    
    #k15 {
        background-image: url(../paralaxe/Photo_paralaxe/Faro_paralaxe/15.jpg);
    }
    
    #k16 {
        background-image: url(../paralaxe/Photo_paralaxe/Faro_paralaxe/16.jpg);
    }
    
    #k17 {
        background-image: url(../paralaxe/Photo_paralaxe/Faro_paralaxe/17.jpg);
    }
    
    #k18 {
        background-image: url(../paralaxe/Photo_paralaxe/Faro_paralaxe/18.jpg);
    }
    
    #k19 {
        background-image: url(../paralaxe/Photo_paralaxe/Faro_paralaxe/19.jpg);
    }
    
    #k20 {
        background-image: url(../paralaxe/Photo_paralaxe/Faro_paralaxe/20.jpg);
    }

    #k21 {
        background-image: url(../paralaxe/Photo_paralaxe/Faro_paralaxe/21.jpg);
    }

    #k22 {
        background-image: url(../paralaxe/Photo_paralaxe/Faro_paralaxe/22.jpg);
    }
    
    #k23 {
        background-image: url(../paralaxe/Photo_paralaxe/Faro_paralaxe/23.jpg);
    }
    
    #k24 {
        background-image: url(../paralaxe/Photo_paralaxe/Faro_paralaxe/24.jpg);
    }
    
    #k25 {
        background-image: url(../paralaxe/Photo_paralaxe/Faro_paralaxe/25.jpg);
    }
    
    #k26 {
        background-image: url(../paralaxe/Photo_paralaxe/Faro_paralaxe/26.jpg);
    }
    
    #k27 {
        background-image: url(../paralaxe/Photo_paralaxe/Faro_paralaxe/27.jpg);
    }
    
    #k28 {
        background-image: url(../paralaxe/Photo_paralaxe/Faro_paralaxe/28.jpg);
    }

    #k29 {
        background-image: url(../paralaxe/Photo_paralaxe/Faro_paralaxe/29.jpg);
    }

    #k30 {
        background-image: url(../paralaxe/Photo_paralaxe/Faro_paralaxe/30.jpg);
    }

    #k31 {
        background-image: url(../paralaxe/Photo_paralaxe/Faro_paralaxe/31.jpg);
    }

    /*Faro*/

    /*Icici*/

    #j1 {
        background-image: url(../paralaxe/Photo_paralaxe/icici_paralaxe/1.jpg);
    }
    
    #j2 {
        background-image: url(../paralaxe/Photo_paralaxe/icici_paralaxe/2.jpg);
    }
    
    #j3 {
        background-image: url(../paralaxe/Photo_paralaxe/icici_paralaxe/3.jpg);
    }
    
    #j4 {
        background-image: url(../paralaxe/Photo_paralaxe/icici_paralaxe/4.jpg);
    }
    
    #j5 {
        background-image: url(../paralaxe/Photo_paralaxe/icici_paralaxe/5.jpg);
    }
    
    #j6 {
        background-image: url(../paralaxe/Photo_paralaxe/icici_paralaxe/6.jpg);
    }
    
    #j7 {
        background-image: url(../paralaxe/Photo_paralaxe/icici_paralaxe/7.jpg);
    }
    
    #j8 {
        background-image: url(../paralaxe/Photo_paralaxe/icici_paralaxe/8.jpg);
    }
    
    #j9 {
        background-image: url(../paralaxe/Photo_paralaxe/icici_paralaxe/9.jpg);
    }
    
    #j10 {
        background-image: url(../paralaxe/Photo_paralaxe/icici_paralaxe/10.jpg);
    }
    
    #j11 {
        background-image: url(../paralaxe/Photo_paralaxe/icici_paralaxe/11.jpg);
    }
    
    #j12 {
        background-image: url(../paralaxe/Photo_paralaxe/icici_paralaxe/12.jpg);
    }
    
    #j13 {
        background-image: url(../paralaxe/Photo_paralaxe/icici_paralaxe/13.jpg);
    }
    
    #j14 {
        background-image: url(../paralaxe/Photo_paralaxe/icici_paralaxe/14.jpg);
    }
    
    #j15 {
        background-image: url(../paralaxe/Photo_paralaxe/icici_paralaxe/15.jpg);
    }
    
    #j16 {
        background-image: url(../paralaxe/Photo_paralaxe/icici_paralaxe/16.jpg);
    }
    
    #j17 {
        background-image: url(../paralaxe/Photo_paralaxe/icici_paralaxe/17.jpg);
    }
    
    #j18 {
        background-image: url(../paralaxe/Photo_paralaxe/icici_paralaxe/18.jpg);
    }

    /*Icici*/

    /*butapest*/

#y1 {
        background-image: url(../paralaxe/Photo_paralaxe/budapest_paralaxe/1.jpg);
    }
    
#y2 {
        background-image: url(../paralaxe/Photo_paralaxe/budapest_paralaxe/2.jpg);
    }
    
#y3 {
        background-image: url(../paralaxe/Photo_paralaxe/budapest_paralaxe/3.jpg);
    }

#y4 {
        background-image: url(../paralaxe/Photo_paralaxe/budapest_paralaxe/4.jpg);
    }

#y5 {
        background-image: url(../paralaxe/Photo_paralaxe/budapest_paralaxe/5.jpg);
    }

#y6 {
        background-image: url(../paralaxe/Photo_paralaxe/budapest_paralaxe/6.jpg);
    }

#y7 {
        background-image: url(../paralaxe/Photo_paralaxe/budapest_paralaxe/7.jpg);
    }

#y8 {
        background-image: url(../paralaxe/Photo_paralaxe/budapest_paralaxe/8.jpg);
    }

#y9 {
        background-image: url(../paralaxe/Photo_paralaxe/budapest_paralaxe/9.jpg);
    }

#y10 {
        background-image: url(../paralaxe/Photo_paralaxe/budapest_paralaxe/10.jpg);
    }
    
#y11 {
        background-image: url(../paralaxe/Photo_paralaxe/budapest_paralaxe/11.jpg);
    }
    
#y12 {
        background-image: url(../paralaxe/Photo_paralaxe/budapest_paralaxe/12.jpg);
    }

#y13 {
        background-image: url(../paralaxe/Photo_paralaxe/budapest_paralaxe/13.jpg);
    }

#y14 {
        background-image: url(../paralaxe/Photo_paralaxe/budapest_paralaxe/14.jpg);
    }

#y15 {
        background-image: url(../paralaxe/Photo_paralaxe/budapest_paralaxe/15.jpg);
    }

#y16 {
        background-image: url(../paralaxe/Photo_paralaxe/budapest_paralaxe/16.jpg);
    }

#y17 {
        background-image: url(../paralaxe/Photo_paralaxe/budapest_paralaxe/17.jpg);
    }

#y18 {
        background-image: url(../paralaxe/Photo_paralaxe/budapest_paralaxe/18.jpg);
    }

#y19 {
        background-image: url(../paralaxe/Photo_paralaxe/budapest_paralaxe/19.jpg);
    }

#y20 {
        background-image: url(../paralaxe/Photo_paralaxe/budapest_paralaxe/20.jpg);
    }

    /*Budapest*/
    

    /*cracovie*/

    #r1 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/1.jpg);
    }
    
    #r2 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/2.jpg);
    }
    
    #r3 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/3.jpg);
    }
    
    #r4 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/4.jpg);
    }
    
    #r5 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/5.jpg);
    }
    
    #r6 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/6.jpg);
    }
    
    #r7 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/7.jpg);
    }
    
    #r8 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/8.jpg);
    }
    
    #r9 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/9.jpg);
    }
    
    #r10 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/10.jpg);
    }
    
    #r11 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/11.jpg);
    }
    
    #r12 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/12.jpg);
    }
    
    #r13 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/13.jpg);
    }
    
    #r14 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/14.jpg);
    }
    
    #r15 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/15.jpg);
    }
    
    #r16 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/16.jpg);
    }
    
    #r17 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/17.jpg);
    }
    
    #r18 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/18.jpg);
    }
    
    #r19 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/19.jpg);
    }
    
    #r20 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/20.jpg);
    }

    #r21 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/21.jpg);
    }

    #r22 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/22.jpg);
    }
    
    #r23 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/23.jpg);
    }
    
    #r24 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/24.jpg);
    }
    
    #r25 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/25.jpg);
    }
    
    #r26 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/26.jpg);
    }
    
    #r27 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/27.jpg);
    }
    
    #r28 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/28.jpg);
    }

    #r29 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/29.jpg);
    }

    #r30 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/30.jpg);
    }

    #r31 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/31.jpg);
    }

    #r32 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/32.jpg);
    }

    #r33 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/33.jpg);
    }

    #r34 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/34.jpg);
    }

    #r35 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/35.jpg);
    }

    #r36 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/36.jpg);
    }

    #r37 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/37.jpg);
    }

    #r38 {
        background-image: url(../paralaxe/Photo_paralaxe/cracovie_paralaxe/38.jpg);
    }


    /*Cracovie*/

    /*Faro Page*/

    #b1 {
        background-image: url(../paralaxe/Photo_paralaxe/plage_faro_paralaxe/1.jpg);
    }
    
    #b2 {
        background-image: url(../paralaxe/Photo_paralaxe/plage_faro_paralaxe/2.jpg);
    }
    
    #b3 {
        background-image: url(../paralaxe/Photo_paralaxe/plage_faro_paralaxe/3.jpg);
    }
    
    #b4 {
        background-image: url(../paralaxe/Photo_paralaxe/plage_faro_paralaxe/4.jpg);
    }
    
    #b5 {
        background-image: url(../paralaxe/Photo_paralaxe/plage_faro_paralaxe/5.jpg);
    }
    
    #b6 {
        background-image: url(../paralaxe/Photo_paralaxe/plage_faro_paralaxe/6.jpg);
    }
    
    #b7 {
        background-image: url(../paralaxe/Photo_paralaxe/plage_faro_paralaxe/7.jpg);
    }
    
    #b8 {
        background-image: url(../paralaxe/Photo_paralaxe/plage_faro_paralaxe/8.jpg);
    }
    
    #b9 {
        background-image: url(../paralaxe/Photo_paralaxe/plage_faro_paralaxe/9.jpg);
    }
    
    #b10 {
        background-image: url(../paralaxe/Photo_paralaxe/plage_faro_paralaxe/10.jpg);
    }
    
    #b11 {
        background-image: url(../paralaxe/Photo_paralaxe/plage_faro_paralaxe/11.jpg);
    }
    
    #b12 {
        background-image: url(../paralaxe/Photo_paralaxe/plage_faro_paralaxe/12.jpg);
    }
    
    #b13 {
        background-image: url(../paralaxe/Photo_paralaxe/plage_faro_paralaxe/13.jpg);
    }


    /*Faro plage*/

    /*odense*/

    #q1 {
        background-image: url(../paralaxe/Photo_paralaxe/danemark_paralaxe/1.jpg);
    }
    
    #q2 {
        background-image: url(../paralaxe/Photo_paralaxe/danemark_paralaxe/2.jpg);
    }
    
    #q3 {
        background-image: url(../paralaxe/Photo_paralaxe/danemark_paralaxe/3.jpg);
    }
    
    #q4 {
        background-image: url(../paralaxe/Photo_paralaxe/danemark_paralaxe/4.jpg);
    }
    
    #q5 {
        background-image: url(../paralaxe/Photo_paralaxe/danemark_paralaxe/5.jpg);
    }
    
    #q6 {
        background-image: url(../paralaxe/Photo_paralaxe/danemark_paralaxe/6.jpg);
    }
    
    #q7 {
        background-image: url(../paralaxe/Photo_paralaxe/danemark_paralaxe/7.jpg);
    }
    
    #q8 {
        background-image: url(../paralaxe/Photo_paralaxe/danemark_paralaxe/8.jpg);
    }
    
    #q9 {
        background-image: url(../paralaxe/Photo_paralaxe/danemark_paralaxe/9.jpg);
    }
    
    #q10 {
        background-image: url(../paralaxe/Photo_paralaxe/danemark_paralaxe/10.jpg);
    }
    
    #q11 {
        background-image: url(../paralaxe/Photo_paralaxe/danemark_paralaxe/11.jpg);
    }
    
    #q12 {
        background-image: url(../paralaxe/Photo_paralaxe/danemark_paralaxe/12.jpg);
    }
    
    #q13 {
        background-image: url(../paralaxe/Photo_paralaxe/danemark_paralaxe/13.jpg);
    }
    
    #q14 {
        background-image: url(../paralaxe/Photo_paralaxe/danemark_paralaxe/14.jpg);
    }
    
    #q15 {
        background-image: url(../paralaxe/Photo_paralaxe/danemark_paralaxe/15.jpg);
    }
    
    #q16 {
        background-image: url(../paralaxe/Photo_paralaxe/danemark_paralaxe/16.jpg);
    }
    
    #q17 {
        background-image: url(../paralaxe/Photo_paralaxe/danemark_paralaxe/17.jpg);
    }
    
    #q18 {
        background-image: url(../paralaxe/Photo_paralaxe/danemark_paralaxe/18.jpg);
    }
    
    #q19 {
        background-image: url(../paralaxe/Photo_paralaxe/danemark_paralaxe/19.jpg);
    }
    
    #q20 {
        background-image: url(../paralaxe/Photo_paralaxe/danemark_paralaxe/20.jpg);
    }

    #q21 {
        background-image: url(../paralaxe/Photo_paralaxe/danemark_paralaxe/21.jpg);
    }

     /*odense*/


     /*amsterdam*/

     #c1 {
        background-image: url(../paralaxe/Photo_paralaxe/hollande_paralaxe/1.jpg);
    }
    
    #c2 {
        background-image: url(../paralaxe/Photo_paralaxe/hollande_paralaxe/2.jpg);
    }
    
    #c3 {
        background-image: url(../paralaxe/Photo_paralaxe/hollande_paralaxe/3.jpg);
    }
    
    #c4 {
        background-image: url(../paralaxe/Photo_paralaxe/hollande_paralaxe/4.jpg);
    }
    
    #c5 {
        background-image: url(../paralaxe/Photo_paralaxe/hollande_paralaxe/5.jpg);
    }
    
    #c6 {
        background-image: url(../paralaxe/Photo_paralaxe/hollande_paralaxe/6.jpg);
    }
    
    #c7 {
        background-image: url(../paralaxe/Photo_paralaxe/hollande_paralaxe/7.jpg);
    }
    
    #c8 {
        background-image: url(../paralaxe/Photo_paralaxe/hollande_paralaxe/8.jpg);
    }
    
    #c9 {
        background-image: url(../paralaxe/Photo_paralaxe/hollande_paralaxe/9.jpg);
    }
    
    #c10 {
        background-image: url(../paralaxe/Photo_paralaxe/hollande_paralaxe/10.jpg);
    }
    
    #c11 {
        background-image: url(../paralaxe/Photo_paralaxe/hollande_paralaxe/11.jpg);
    }
    
    #c12 {
        background-image: url(../paralaxe/Photo_paralaxe/hollande_paralaxe/12.jpg);
    }
    
    #c13 {
        background-image: url(../paralaxe/Photo_paralaxe/hollande_paralaxe/13.jpg);
    }
    
    #c14 {
        background-image: url(../paralaxe/Photo_paralaxe/hollande_paralaxe/14.jpg);
    }
    
    #c15 {
        background-image: url(../paralaxe/Photo_paralaxe/hollande_paralaxe/15.jpg);
    }
    
    #c16 {
        background-image: url(../paralaxe/Photo_paralaxe/hollande_paralaxe/16.jpg);
    }
    
    #c17 {
        background-image: url(../paralaxe/Photo_paralaxe/hollande_paralaxe/17.jpg);
    }
    
    #c18 {
        background-image: url(../paralaxe/Photo_paralaxe/hollande_paralaxe/18.jpg);
    }








