
#diaporama img {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    max-width: 99%;
    max-height: 98%;
    border: 1px solid black;
    border-radius: 10px;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}

.image1 {
    animation-name: image1;
}
.image2 {
    animation-name: image2;
}
.image3 {
    animation-name: image3;
}
.image4 {
    animation-name: image4;
}
.image5 {
    animation-name: image5;
}
.image6 {
    animation-name: image6;
}
.image7 {
    animation-name: image7;
}
.image8 {
    animation-name: image8;
}
.image9 {
    animation-name: image9;
}
.image10 {
    animation-name: image10;
}
.image11 {
    animation-name: image11;
}

@keyframes image1 {
    0% {opacity: 1;}
    9% {opacity: 0;}
    18% {opacity: 0;}
    27% {opacity: 0;}
    36% {opacity: 0;}
    45% {opacity: 0;}
    54% {opacity: 0;}
    63% {opacity: 0;}
    72% {opacity: 0;}
    81% {opacity: 0;}
    90% {opacity: 0;}
    100% {opacity: 1;}
 }

 @keyframes image2 {
    0% {opacity: 0;}
    9% {opacity: 1;}
    18% {opacity: 0;}
    27% {opacity: 0;}
    36% {opacity: 0;}
    45% {opacity: 0;}
    54% {opacity: 0;}
    63% {opacity: 0;}
    72% {opacity: 0;}
    81% {opacity: 0;}
    90% {opacity: 0;}
    100% {opacity: 0;}
 }

 @keyframes image3 {
    0% {opacity: 0;}
    9% {opacity: 0;}
    18% {opacity: 1;}
    27% {opacity: 0;}
    36% {opacity: 0;}
    45% {opacity: 0;}
    54% {opacity: 0;}
    63% {opacity: 0;}
    72% {opacity: 0;}
    81% {opacity: 0;}
    90% {opacity: 0;}
    100% {opacity: 0;}
 }

 @keyframes image4 {
    0% {opacity: 0;}
    9% {opacity: 0;}
    18% {opacity: 0;}
    27% {opacity: 1;}
    36% {opacity: 0;}
    45% {opacity: 0;}
    54% {opacity: 0;}
    63% {opacity: 0;}
    72% {opacity: 0;}
    81% {opacity: 0;}
    90% {opacity: 0;}
    100% {opacity: 0;}
 }

 @keyframes image5 {
    0% {opacity: 0;}
    9% {opacity: 0;}
    18% {opacity: 0;}
    27% {opacity: 0;}
    36% {opacity: 1;}
    45% {opacity: 0;}
    54% {opacity: 0;}
    63% {opacity: 0;}
    72% {opacity: 0;}
    81% {opacity: 0;}
    90% {opacity: 0;}
    100% {opacity: 0;}
 }

 @keyframes image6 {
    0% {opacity: 0;}
    9% {opacity: 0;}
    18% {opacity: 0;}
    27% {opacity: 0;}
    36% {opacity: 0;}
    45% {opacity: 1;}
    54% {opacity: 0;}
    63% {opacity: 0;}
    72% {opacity: 0;}
    81% {opacity: 0;}
    90% {opacity: 0;}
    100% {opacity: 0;}
 }

 @keyframes image7 {
    0% {opacity: 0;}
    9% {opacity: 0;}
    18% {opacity: 0;}
    27% {opacity: 0;}
    36% {opacity: 0;}
    45% {opacity: 0;}
    54% {opacity: 1;}
    63% {opacity: 0;}
    72% {opacity: 0;}
    81% {opacity: 0;}
    90% {opacity: 0;}
    100% {opacity: 0;}
 }

 @keyframes image8 {
    0% {opacity: 0;}
    9% {opacity: 0;}
    18% {opacity: 0;}
    27% {opacity: 0;}
    36% {opacity: 0;}
    45% {opacity: 0;}
    54% {opacity: 0;}
    63% {opacity: 1;}
    72% {opacity: 0;}
    81% {opacity: 0;}
    90% {opacity: 0;}
    100% {opacity: 0;}
 }

 @keyframes image9 {
    0% {opacity: 0;}
    9% {opacity: 0;}
    18% {opacity: 0;}
    27% {opacity: 0;}
    36% {opacity: 0;}
    45% {opacity: 0;}
    54% {opacity: 0;}
    63% {opacity: 0;}
    72% {opacity: 1;}
    81% {opacity: 0;}
    90% {opacity: 0;}
    100% {opacity: 0;}
 }

 @keyframes image10 {
    0% {opacity: 0;}
    9% {opacity: 0;}
    18% {opacity: 0;}
    27% {opacity: 0;}
    36% {opacity: 0;}
    45% {opacity: 0;}
    54% {opacity: 0;}
    63% {opacity: 0;}
    72% {opacity: 0;}
    81% {opacity: 1;}
    90% {opacity: 0;}
    100% {opacity: 0;}
 }

 @keyframes image11 {
    0% {opacity: 0;}
    9% {opacity: 0;}
    18% {opacity: 0;}
    27% {opacity: 0;}
    36% {opacity: 0;}
    45% {opacity: 0;}
    54% {opacity: 0;}
    63% {opacity: 0;}
    72% {opacity: 0;}
    81% {opacity: 0;}
    90% {opacity: 1;}
    100% {opacity: 0;}
 }

